# Build Artifacts
target/
build/
dist/

# Maven Wrapper (keep this tracked)
!.mvn/wrapper/maven-wrapper.jar

# Sensitive Files
.env
.env*

# Spring Tool Suite / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/